h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.load__animation {
  background-color: #000;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.circle, .circle:before, .circle:after {
  content: "";
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: 2s linear infinite oval-rotate;
}

.circle {
  animation: 2s linear infinite oval-rotate, 1s linear infinite rotate-roll;
  position: relative;
  box-shadow: 0 0 0 10px #f08080;
}

.circle:before {
  position: absolute;
  transform: rotate(60deg);
  box-shadow: 0 0 0 10px #fffacd;
}

.circle:after {
  position: absolute;
  transform: rotate(-60deg);
  box-shadow: 0 0 0 10px #add8e6;
}

@keyframes oval-rotate {
  0% {
    width: 200px;
    height: 200px;
  }

  25% {
    width: 200px;
    height: 100px;
  }

  50% {
    width: 200px;
    height: 100px;
  }

  75% {
    width: 200px;
    height: 200px;
  }

  100% {
    width: 200px;
    height: 200px;
  }
}

@keyframes rotate-roll {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main__content {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.hiden {
  display: none;
}

.show {
  opacity: 1;
}

.left {
  opacity: 0;
  transform: translateX(100vw);
}

.right {
  opacity: 0;
  transform: translateX(-100vw);
}

.active {
  opacity: 1;
  transition: transform 2s ease-out, opacity .5s ease-out;
  display: block;
  transform: translateX(0);
}

.header {
  background-color: #eef7ff;
  width: 100%;
}

.header__top {
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.header__desktop {
  display: none;
}

@media (width >= 1200px) {
  .header__desktop {
    display: block;
  }
}

.header__desktop__block {
  justify-content: space-around;
  width: 500px;
  display: flex;
}

.header__desktop__block__text:last-child a {
  color: #f9512e;
  letter-spacing: .02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
}

.header__desktop__block__text:last-child {
  align-items: center;
  display: flex;
}

.header__desktop__block a:hover {
  color: #0000;
  background: linear-gradient(to left, #38b0a2, #c9a633, #f90) text;
  transition: background-size 1.5s ease-in-out;
}

.header__logo {
  width: 136px;
  height: 32px;
}

.header__menu {
  width: 24px;
  height: 24px;
}

.header__menu:hover {
  transform: scale(1.5);
}

@media (width >= 1200px) {
  .header__menu {
    display: none;
  }
}

.content--padding {
  padding: 16px;
}

@media (width >= 1200px) {
  .content--padding {
    max-width: 1400px;
    margin: auto;
    padding: 28px 32px;
  }
}

.header__bottom {
  padding-top: 32px 0 40px 0;
  padding-inline: 16px;
}

@media (width >= 640px) {
  .header__bottom {
    padding: 80px 0 228px;
  }
}

@media (width >= 1200px) {
  .header__bottom {
    padding: 0 0 228px;
  }
}

@media (width >= 640px) {
  .header__bottom {
    padding-inline: 44px;
  }
}

@media (width >= 1200px) {
  .header__bottom {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 124px;
  }
}

.header__bottom__tablet {
  object-fit: contain;
  grid-column: 1 / 3;
}

@media (width >= 640px) {
  .header__bottom__tablet {
    grid-column: 1 / 9;
    justify-content: center;
    display: flex;
    position: relative;
  }
}

@media (width >= 1200px) {
  .header__bottom__tablet {
    grid-area: 1 / 2 / 3 / 8;
  }
}

.header__bottom__content {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  display: grid;
}

@media (width >= 640px) {
  .header__bottom__content {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }
}

@media (width >= 1200px) {
  .header__bottom__content {
    grid-template-rows: 1fr 1fr;
  }
}

.header__bottom__text2 {
  color: #f9512e;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / 3;
  margin-top: 32px;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 54.4px;
}

@media (width >= 640px) {
  .header__bottom__text2 {
    letter-spacing: -.05em;
    text-align: center;
    text-transform: uppercase;
    grid-column: 1 / 9;
    font-size: 80px;
    font-weight: 400;
    line-height: 68px;
    position: absolute;
    top: 25%;
  }
}

@media (width >= 1200px) {
  .header__bottom__text2 {
    letter-spacing: -.05em;
    text-align: center;
    white-space: nowrap;
    grid-column: 1 / 9;
    font-size: 136px;
    font-weight: 400;
    line-height: 150.6px;
  }
}

.header__bottom__text1 {
  letter-spacing: -.01em;
  text-align: center;
  grid-column: 1 / 3;
  margin-top: 32px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 640px) {
  .header__bottom__text1 {
    grid-column: span 5;
  }
}

@media (width >= 1200px) {
  .header__bottom__text1 {
    grid-area: 1 / 1 / auto / 3;
    height: fit-content;
    margin-top: 110px;
  }
}

.header__bottom__cookie {
  object-fit: contain;
  grid-column: 1 / 3;
  width: 100%;
  height: 290px;
}

@media (width >= 640px) {
  .header__bottom__cookie {
    object-fit: contain;
    height: 328px;
  }
}

@media (width >= 1200px) {
  .header__bottom__cookie {
    object-fit: contain;
    height: 586px;
  }
}

.header__bottom__button {
  text-transform: uppercase;
  color: #f9512e;
  background-color: inherit;
  pointer-events: auto;
  cursor: pointer;
  letter-spacing: .02em;
  text-align: left;
  border: 2px solid #f9512e;
  border-radius: 32px;
  grid-column: 1 / 3;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
}

@media (width >= 640px) {
  .header__bottom__button {
    grid-column: 3 / 7;
    margin-top: 80px;
  }
}

@media (width >= 1200px) {
  .header__bottom__button {
    z-index: 2;
    grid-area: 2 / 1 / auto / 3;
    margin-top: 64px;
  }
}

.header__bottom__button__img {
  background-image: url("Icon-cookie.135a0f2c.svg");
  width: 24px;
  height: 24px;
}

.header__bottom__button:hover {
  color: #fff;
  background: #f9512e;
}

.header__bottom__button:hover .header__bottom__button__img {
  background-image: url("Icon-cookie-white.1ff0a7aa.svg");
}

.menu__active {
  overflow: hidden;
}

.aside {
  opacity: 0;
  pointer-events: none;
  background-color: #eef7ff;
  width: 100%;
  transition: transform .4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.aside__top {
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.aside__logo {
  width: 136px;
  height: 32px;
}

.aside__menu {
  width: 24px;
  height: 24px;
}

.aside__menu:hover {
  transform: scale(1.5);
}

.aside__content {
  justify-content: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.aside__content__block {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 196px;
  margin-top: 134px;
  display: flex;
}

.aside__content__block__text {
  margin-top: 24px;
}

.aside__content__block__text:last-child a {
  color: #f9512e;
  letter-spacing: .02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.aside__content__block__text a:hover {
  color: #0000;
  background: linear-gradient(to left, #38b0a2, #c9a633, #f90) text;
  transition: background-size 1.5s;
}

.aside__content__block__text:last-child {
  align-items: center;
  display: flex;
}

.text__content {
  letter-spacing: -.01em;
  text-align: center;
  color: #1c1a26;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  position: relative;
}

.text__content:after {
  content: "";
  transform-origin: 0;
  background-color: #292929;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.text__content:hover:after {
  background: linear-gradient(to left, #38b0a2, #c9a633, #f90);
  transform: scale(1);
}

.aside--open {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
  transform: translateX(0);
}

.section {
  overflow: hidden;
}

.section__wrapper {
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 16px;
  display: grid;
}

@media (width >= 640px) {
  .section__wrapper {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 80px;
  }
}

.section__product--position-top {
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 16px;
  display: grid;
}

@media (width >= 640px) {
  .section__product--position-top {
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, 1fr);
    gap: 80px 24px;
  }
}

@media (width >= 1200px) {
  .section__product--position-top {
    grid-column: 1 / 7;
  }
}

.section__product--position-center {
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 16px;
  display: grid;
}

@media (width >= 640px) {
  .section__product--position-center {
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, 1fr);
    gap: 80px 24px;
  }
}

@media (width >= 1200px) {
  .section__product--position-center {
    grid-column: 3 / 9;
  }
}

.section__product--position-bottom {
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 16px;
  display: grid;
}

@media (width >= 640px) {
  .section__product--position-bottom {
    grid-column: 1 / 9;
    grid-template-columns: repeat(8, 1fr);
    gap: 80px 24px;
  }
}

@media (width >= 1200px) {
  .section__product--position-bottom {
    grid-column: 1 / 7;
  }
}

.section__text {
  flex-direction: column;
  grid-column: 1 / 3;
  gap: 24px;
  display: flex;
}

@media (width >= 640px) {
  .section__text {
    grid-column: span 7;
  }
}

.section__text__1 {
  color: #f9512e;
  text-transform: uppercase;
  letter-spacing: -.05em;
  text-align: left;
  font-size: 48px;
  font-weight: 400;
  line-height: 40.8px;
}

.section__text__2 {
  color: #1c1a26;
  letter-spacing: -.01em;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.content--padding-section {
  padding: 72px 0;
  padding-inline: 16px;
}

@media (width >= 640px) {
  .content--padding-section {
    padding: 0 0 152px;
    padding-inline: 44px;
  }
}

@media (width >= 1200px) {
  .content--padding-section {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 124px;
  }
}

.img1 {
  border-radius: 8px;
  width: 100%;
  box-shadow: 13px 1px 20px;
}

.description {
  flex-direction: column;
  align-items: start;
  margin-top: 16px;
  display: flex;
}

.description__txt1 {
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: left;
  color: #7f8096;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.description__txt2 {
  letter-spacing: -.01em;
  text-align: left;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.description__order {
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: left;
  color: #f9512e;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.description__order:hover {
  color: #0000;
  background: linear-gradient(to left, #38b0a2, #c9a633, #f90) text;
  transition: background-size 1.5s ease-in-out;
}

.description__a {
  align-items: center;
  margin-top: 16px;
  text-decoration: none;
  display: flex;
}

.description__a:hover {
  transition: transform .3s ease-in-out;
  transform: scale(1.2);
}

.description__img {
  background-image: url("Icon-arrow.b138dde1.svg");
  width: 24px;
  height: 24px;
}

.wraper__content {
  grid-column: 1 / 3;
}

@media (width >= 640px) {
  .wraper__content {
    grid-column: span 4;
  }
}

.section__display-none {
  display: none;
}

.info__wraper {
  background-image: url("Crumbs.aeaa417a.svg");
  background-repeat: no-repeat;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 64px;
  width: 100%;
  height: 100%;
  display: grid;
}

@media (width >= 640px) {
  .info__wraper {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 72px;
  }
}

.info__description {
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  display: grid;
}

@media (width >= 640px) {
  .info__description {
    grid-column: span 9;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-flow: dense;
    row-gap: 24px;
  }
}

.info__description__txt1 {
  text-transform: uppercase;
  letter-spacing: -.05em;
  text-align: left;
  color: #f9512e;
  grid-column: 1 / 3;
  font-size: 56px;
  font-weight: 400;
  line-height: 47.6px;
}

@media (width >= 640px) {
  .info__description__txt1 {
    grid-column: 1 / 5;
  }
}

.info__description__txt2 {
  letter-spacing: -.01em;
  text-align: left;
  color: #1c1a26;
  grid-column: 1 / 3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

@media (width >= 640px) {
  .info__description__txt2 {
    grid-column: 5 / 9;
  }
}

.content--padding-info {
  padding: 0 0 72px;
  padding-inline: 16px;
}

@media (width >= 640px) {
  .content--padding-info {
    padding: 0 0 152px;
    padding-inline: 44px;
  }
}

@media (width >= 1200px) {
  .content--padding-info {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 124px;
  }
}

.info__number {
  grid-column: 1 / 3;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  display: grid;
}

@media (width >= 640px) {
  .info__number {
    grid-column: span 9;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 80px;
  }
}

.number {
  flex-direction: column;
  grid-column: 1 / 3;
  align-items: start;
  display: flex;
}

@media (width >= 640px) {
  .number {
    grid-column: span 4;
  }
}

.bigRed {
  letter-spacing: -.05em;
  text-align: left;
  color: #f9512e;
  font-size: 96px;
  font-weight: 400;
  line-height: 81.6px;
}

.footer {
  background-color: #1c1a26;
  box-shadow: 5px 8px 25px 20px;
}

.footer__section {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 64px;
  display: grid;
}

@media (width >= 640px) {
  .footer__section {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
  }
}

.footer__down {
  grid-column: 1 / 3;
}

@media (width >= 640px) {
  .footer__down {
    grid-column: 5 / 9;
  }
}

.footer__email {
  grid-column: 1 / 3;
}

@media (width >= 640px) {
  .footer__email {
    grid-column: 5 / 9;
  }
}

@media (width >= 1200px) {
  .footer__email {
    grid-column: 7 / 9;
  }
}

.footer__mesengers {
  grid-column: 1 / 3;
}

.footer__mesengers__block {
  gap: 32px;
  display: flex;
}

.footer__nameTwo {
  text-transform: uppercase;
  letter-spacing: -.05em;
  text-align: left;
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 400;
  line-height: 40.8px;
}

@media (width >= 640px) {
  .footer__nameTwo {
    letter-spacing: -.05em;
    text-align: left;
    font-size: 72px;
    font-weight: 400;
    line-height: 61.2px;
  }
}

.footer__contactUs {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

@media (width >= 640px) {
  .footer__contactUs {
    flex-direction: row;
  }
}

.footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: #0ff;
}

.email--margin {
  margin-bottom: 16px;
}

.facebook {
  width: 24px;
  height: 24px;
  transition: filter .3s;
}

.facebook:hover {
  filter: invert();
}

.instagram {
  width: 24px;
  height: 24px;
  transition: filter .3s;
}

.instagram:hover {
  filter: invert();
}

.twiter {
  width: 24px;
  height: 24px;
  transition: filter .3s;
}

.twiter:hover {
  filter: invert();
}

.content--padding-footer {
  padding-top: 88px;
  padding-bottom: 88px;
  padding-inline: 16px;
}

@media (width >= 640px) {
  .content--padding-footer {
    padding-top: 88px;
    padding-bottom: 88px;
    padding-inline: 44px;
  }
}

@media (width >= 1200px) {
  .content--padding-footer {
    max-width: 1400px;
    margin-inline: auto;
    padding-inline: 124px;
  }
}

.Bakerlab {
  flex-direction: column;
  grid-column: 1 / 3;
  align-items: start;
  gap: 16px;
  display: flex;
}

@media (width >= 640px) {
  .Bakerlab {
    grid-column: 1 / 4;
  }
}

.menu {
  text-transform: uppercase;
  color: #7f8096;
  letter-spacing: .02em;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.text {
  color: #fff;
  letter-spacing: -.01em;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.name {
  background-image: url("Logo-footer.f9786d1d.svg");
  background-size: cover;
  width: 168px;
  height: 40px;
  margin-bottom: 40px;
}

.shild {
  color: #7f8096;
  grid-column: span 2;
}

@media (width >= 640px) {
  .shild {
    grid-column: 5 / 9;
  }
}

.contactUs__content {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

@media (width >= 640px) {
  .contactUs__content {
    width: 260px;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

body {
  background-color: #eef7ff;
}
/*# sourceMappingURL=index.971c2ea4.css.map */
